* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Seletor raíz, neste caso será colocado nomes para utilizar como variável*/
:root {
  --text-color: #ffffff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

/*Continuando a estilização do light mode*/
.light {
  --text-color: #000000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/sun.svg);
}

/*Inserido variável de background*/
body {
  background: var(--bg-url) no-repeat top center/cover;

  /*Com o valor 100vh (pega 100% da viewport hight) faz com que o body atende todo viewport no sentido da altura, ou seja toda a página*/
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  /*Aplicando a variável com nome --text-color que contem a cor. Isto é definido em :root*/
  color: var(--text-color);
}

#container {
  width: 100%x;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

/*Profile*/
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

/*switch*/
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  /*Aqui acontece o seguinte: Animation aplique a animação slide-dark quando #switch button for clicado. Quando é movimentado de 50% para 0 e termina a operação do slide-dark. Não precisa do forwards pelo fato de que a ultima propriedade declarada o left é 0, isso está loga acima de z-index.*/
  animation: slide-dark 0.4s;

}

.light #switch button {
  /*Aqui acontece o seguinte: Animation aplique a animação slide-light quando .light #switch button for clicado. Quando é movimentado de 0 para 50% e termina a operação do slide-light, o switch volta para 0 de novo, então é usado o atributo forwards, ou seja, permanceter em 50% declarado no "to"*/
  animation: slide-light 0.4s forwards;
}

#switch button:hover{
  outline: 8px solid var(--highlight-color);
}

/*switch*/
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*Links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 2px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0px;
  text-align: center;
}

/*O que começa com @ é uma regra. Este @media só funciona quando é declador no head a tag <meta name="viewport" content="width=device-width, initial-scale=1.0" />*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/*Regra para aniações. Regra para fazer o switch deslizar mais lento quando mudar de dark para light*/
@keyframes slide-light {
  /*slide-in vá de 0*/
  from{
    left: 0;
  }
  /*Para 50%*/
  to{
    left: 50%;
  }
}

@keyframes slide-dark {
  /*slide-in vá de 0*/
  from{
    left: 50%;
  }
  /*Para 50%*/
  to{
    left: 0;
  }

}
